<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница книги</title>
</head>
<body>
    <p th:text="${book.title + ', ' + book.author + ', ' + book.productionYear}"></p>

    <div th:if="${owner}">
        <span>Книга сейчас у: </span>
        <span th:text="${owner.surname + ' ' + owner.name + ' ' + owner.lastName}"></span>

        <br>
        <form style="display: inline" th:method="PATCH" th:action="@{/books/{id}/release(id=${book.id})}">
            <input type="submit" value="Освободить книгу">
        </form>
    </div>
    <div th:if="${people}">
        <div>Эта книга свободна. Кому назначить ее?</div>

        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.id})}">
            <label for="person">Выберите человека: </label>
            <select th:object="${person}" th:field="*{id}" name="" id="person">
                <option th:each="person : ${people}"
                        th:value="${person.getId()}"
                        th:text="${person.getSurname() + ' ' + person.getName() + ' ' + person.getLastName()}">
                </option>
            </select>

            <input type="submit" value="Назначить книгу"/>
        </form>
    </div>

    <hr>
    <form style="margin-bottom: 5px" th:method="GET" th:action="@{/books/{id}/edit(id=${book.id})}">
        <input type="submit" value="Редактировать">
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.id})}">
        <input type="submit" value="Удалить">
    </form>
    <a th:href="@{/books}">Назад к списку</a>
</body>
</html>